{
    "openapi": "3.1.0",
    "info": {
        "title": "Loops API Docs",
        "version": "1.0.0.12",
        "description": "The Loops API that powers the joinloops.org platform.",
        "x-logo": {
            "url": "https://joinloops.org/img/logo-small.png",
            "altText": "Loops",
            "backgroundColor": "#FFFFFF",
            "href": "https://joinloops.org"
        }
    },
    "servers": [
        {
            "url": "https://loops.video/api"
        }
    ],
    "paths": {
        "/v1/accounts/suggested": {
            "get": {
                "operationId": "account.getSuggestedAccounts",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 3,
                            "maximum": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/accounts/suggested/hide": {
            "post": {
                "operationId": "account.hideSuggestion",
                "tags": [
                    "Account"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "profile_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "profile_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Suggestion hidden"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "You have reached the limit"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/accounts/suggested/unhide": {
            "post": {
                "operationId": "account.unhideSuggestion",
                "tags": [
                    "Account"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "profile_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "profile_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Suggestion unhidden"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/info/self": {
            "get": {
                "operationId": "account.selfAccountInfo",
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "avatar": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "is_owner": {
                                                    "type": "boolean"
                                                },
                                                "local": {
                                                    "type": "boolean"
                                                },
                                                "bio": {
                                                    "type": "string"
                                                },
                                                "post_count": {
                                                    "type": "integer"
                                                },
                                                "follower_count": {
                                                    "type": "integer"
                                                },
                                                "following_count": {
                                                    "type": "integer"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "remote_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "is_blocking": {
                                                    "type": "null"
                                                },
                                                "manually_approves_followers": {
                                                    "type": "boolean"
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "has_playlists": {
                                                    "type": "boolean"
                                                },
                                                "is_admin": {
                                                    "type": "boolean"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "likes_count": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "avatar",
                                                "username",
                                                "is_owner",
                                                "local",
                                                "bio",
                                                "post_count",
                                                "follower_count",
                                                "following_count",
                                                "url",
                                                "remote_url",
                                                "is_blocking",
                                                "manually_approves_followers",
                                                "links",
                                                "has_playlists",
                                                "is_admin",
                                                "created_at",
                                                "likes_count"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 403
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "This resource is not available"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/info/{id}": {
            "get": {
                "operationId": "account.getAccountInfo",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "avatar": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "is_owner": {
                                                    "type": "boolean"
                                                },
                                                "local": {
                                                    "type": "boolean"
                                                },
                                                "bio": {
                                                    "type": "string"
                                                },
                                                "post_count": {
                                                    "type": "integer"
                                                },
                                                "follower_count": {
                                                    "type": "integer"
                                                },
                                                "following_count": {
                                                    "type": "integer"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "remote_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "is_blocking": {
                                                    "type": "null"
                                                },
                                                "manually_approves_followers": {
                                                    "type": "boolean"
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "has_playlists": {
                                                    "type": "boolean"
                                                },
                                                "is_admin": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object"
                                                        },
                                                        {
                                                            "type": "boolean"
                                                        }
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "likes_count": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "avatar",
                                                "username",
                                                "is_owner",
                                                "local",
                                                "bio",
                                                "post_count",
                                                "follower_count",
                                                "following_count",
                                                "url",
                                                "remote_url",
                                                "is_blocking",
                                                "manually_approves_followers",
                                                "links",
                                                "has_playlists",
                                                "is_admin",
                                                "created_at",
                                                "likes_count"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Account not found or is unavailable"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/state/{id}": {
            "get": {
                "operationId": "account.getRelationshipState",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 403
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Record not found"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/block/{id}": {
            "post": {
                "operationId": "account.accountBlock",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "avatar": {
                                            "type": "string"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "is_owner": {
                                            "type": "boolean"
                                        },
                                        "local": {
                                            "type": "boolean"
                                        },
                                        "bio": {
                                            "type": "string"
                                        },
                                        "post_count": {
                                            "type": "integer"
                                        },
                                        "follower_count": {
                                            "type": "integer"
                                        },
                                        "following_count": {
                                            "type": "integer"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "remote_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "is_blocking": {
                                            "type": "boolean"
                                        },
                                        "manually_approves_followers": {
                                            "type": "boolean"
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "has_playlists": {
                                            "type": "boolean"
                                        },
                                        "is_admin": {
                                            "anyOf": [
                                                {
                                                    "type": "object"
                                                },
                                                {
                                                    "type": "boolean"
                                                }
                                            ]
                                        },
                                        "created_at": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name",
                                        "avatar",
                                        "username",
                                        "is_owner",
                                        "local",
                                        "bio",
                                        "post_count",
                                        "follower_count",
                                        "following_count",
                                        "url",
                                        "remote_url",
                                        "is_blocking",
                                        "manually_approves_followers",
                                        "links",
                                        "has_playlists",
                                        "is_admin",
                                        "created_at"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "You cannot block yourself"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "You cannot block any more accounts"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/unblock/{id}": {
            "post": {
                "operationId": "account.accountUnblock",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "avatar": {
                                            "type": "string"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "is_owner": {
                                            "type": "boolean"
                                        },
                                        "local": {
                                            "type": "boolean"
                                        },
                                        "bio": {
                                            "type": "string"
                                        },
                                        "post_count": {
                                            "type": "integer"
                                        },
                                        "follower_count": {
                                            "type": "integer"
                                        },
                                        "following_count": {
                                            "type": "integer"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "remote_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "is_blocking": {
                                            "type": "boolean"
                                        },
                                        "manually_approves_followers": {
                                            "type": "boolean"
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "has_playlists": {
                                            "type": "boolean"
                                        },
                                        "is_admin": {
                                            "anyOf": [
                                                {
                                                    "type": "object"
                                                },
                                                {
                                                    "type": "boolean"
                                                }
                                            ]
                                        },
                                        "created_at": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name",
                                        "avatar",
                                        "username",
                                        "is_owner",
                                        "local",
                                        "bio",
                                        "post_count",
                                        "follower_count",
                                        "following_count",
                                        "url",
                                        "remote_url",
                                        "is_blocking",
                                        "manually_approves_followers",
                                        "links",
                                        "has_playlists",
                                        "is_admin",
                                        "created_at"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "You cannot unblock yourself"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/followers/{id}": {
            "get": {
                "operationId": "account.accountFollowers",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "pattern": "^[a-zA-Z0-9._@-]+$",
                            "minLength": 2,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `FollowerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/FollowerResource"
                                                    }
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "last": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "next": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "path": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "Base path for paginator generated URLs."
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "description": "Number of items shown per page.",
                                                            "minimum": 0
                                                        },
                                                        "next_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the next set of items."
                                                        },
                                                        "prev_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the previous set of items."
                                                        }
                                                    },
                                                    "required": [
                                                        "path",
                                                        "per_page",
                                                        "next_cursor",
                                                        "prev_cursor"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "links",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "array",
                                            "items": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/account/following/{id}": {
            "get": {
                "operationId": "account.accountFollowing",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "pattern": "^[a-zA-Z0-9._@-]+$",
                            "minLength": 2,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `FollowingResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/FollowingResource"
                                                    }
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "last": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "next": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "path": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "Base path for paginator generated URLs."
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "description": "Number of items shown per page.",
                                                            "minimum": 0
                                                        },
                                                        "next_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the next set of items."
                                                        },
                                                        "prev_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the previous set of items."
                                                        }
                                                    },
                                                    "required": [
                                                        "path",
                                                        "per_page",
                                                        "next_cursor",
                                                        "prev_cursor"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "links",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "array",
                                            "items": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/account/friends/{id}": {
            "get": {
                "operationId": "account.accountFriends",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "pattern": "^[a-zA-Z0-9._@-]+$",
                            "minLength": 2,
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `FollowingResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/FollowingResource"
                                                    }
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "last": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "next": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "path": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "Base path for paginator generated URLs."
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "description": "Number of items shown per page.",
                                                            "minimum": 0
                                                        },
                                                        "next_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the next set of items."
                                                        },
                                                        "prev_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "description": "The \"cursor\" that points to the previous set of items."
                                                        }
                                                    },
                                                    "required": [
                                                        "path",
                                                        "per_page",
                                                        "next_cursor",
                                                        "prev_cursor"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "links",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "array",
                                            "items": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/v1/account/suggested/{id}": {
            "get": {
                "operationId": "account.accountSuggestedFollows",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AccountCompactResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/AccountCompactResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "array",
                                            "items": {}
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/follow/{id}": {
            "post": {
                "operationId": "account.follow",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Account not found or is unavailable"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 422
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "You cannot follow your own account"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/unfollow/{id}": {
            "post": {
                "operationId": "account.unfollow",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 422
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "You cannot unfollow your own account"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/undo-follow-request/{id}": {
            "post": {
                "operationId": "account.undoFollowRequest",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "const": 422
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "You cannot unfollow your own account"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/videos/likes": {
            "get": {
                "operationId": "account.accountVideoLikes",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 2000
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `UserVideoLikeResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/UserVideoLikeResource"
                                                    }
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": "null"
                                                        },
                                                        "last": {
                                                            "type": "null"
                                                        },
                                                        "prev": {
                                                            "type": "null"
                                                        },
                                                        "next": {
                                                            "type": "null"
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "path": {
                                                            "type": "string"
                                                        },
                                                        "per_page": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "integer",
                                                                    "enum": [
                                                                        10
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "next_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev_cursor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "path",
                                                        "per_page",
                                                        "next_cursor",
                                                        "prev_cursor"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "links",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "minItems": 0,
                                                    "maxItems": 0,
                                                    "additionalItems": false
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": "null"
                                                        },
                                                        "last": {
                                                            "type": "null"
                                                        },
                                                        "prev": {
                                                            "type": "null"
                                                        },
                                                        "next": {
                                                            "type": "null"
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "path": {
                                                            "type": "string"
                                                        },
                                                        "per_page": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "integer",
                                                                    "enum": [
                                                                        10
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "next_cursor": {
                                                            "type": "null"
                                                        },
                                                        "prev_cursor": {
                                                            "type": "null"
                                                        }
                                                    },
                                                    "required": [
                                                        "path",
                                                        "per_page",
                                                        "next_cursor",
                                                        "prev_cursor"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "links",
                                                "meta"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/notifications/system/{id}": {
            "get": {
                "operationId": "account.getSystemNotification",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/account/notifications": {
            "get": {
                "operationId": "account.notifications",
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "activity",
                                "system",
                                "followers",
                                "videoLike",
                                "videoShare",
                                "comments",
                                "commentLike",
                                "commentShare",
                                "starterKits"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `NotificationResource`\n\nArray of `NotificationResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/NotificationResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "unread_counts": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "activity": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers": {
                                                                            "type": "string"
                                                                        },
                                                                        "system": {
                                                                            "type": "string"
                                                                        },
                                                                        "starterKits": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "activity",
                                                                        "followers",
                                                                        "system",
                                                                        "starterKits"
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "integer",
                                                                    "enum": [
                                                                        0
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "unread_counts"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
[...]
